@bgcolor: rgb(84, 92, 100);
.h100{
  height: 100%;
}
.el-menu-item-group__title {
	display: none;
}
.flex_worp_justify_align{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items:center;
}